<!-- Header Section Begin -->
<header class="header-section">
  <div class="top-nav">
    <img class="imglogo" src="assets/img/hero/lo4.png" alt="logo"/>
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <nav class="main-menu">
            <ul>
              <li class="active"><a href="./index.html">Accueil</a></li>
              <li><a href="./property.html">Equipements</a></li>
              <li><a href="./about-us.html">SportsGears</a></li>
              <li><a href="./contact.html">Contact</a></li>
              <li><a routerLink="/co">Se connecter</a></li>
            </ul>
          </nav>
        </div>
      </div>  
    </div>
  </div>
</header>
<!-- Header End -->

<!-- Hero Section Begin -->
<section class="hero-section">
  <div class="hero-items">
    <div class="single-hero-item set-bg" data-setbg="assets/img/hero/hero-1.jpg" style='background-image: url("assets/img/hero/sportsgears.jpg");'>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="hero-text">
              <p class="room-location"><i class="icon_pin"></i> 9 rue Robinson, Courbevoie</p>
              <h2>Colorado Basket</h2>
              <div class="room-price">
                <span>Prix:</span>
                <p>Gratuit</p>
              </div>
              <ul class="room-features">
                <li>
                  <i class="fa fa-clock-o"></i>
                  <p>Ouvert 7j/7</p>
                </li>
                <li>
                  <i class="fa fa-users"></i>
                  <p>20 personnes</p>
                </li>
                <li>
                  <i class="fa fa-user-plus"></i>
                  <p>5 vs 5</p>
                </li>
                <li>
                  <i class="fa fa-futbol-o"></i>
                  <p>Street basket</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>