.list-infos li {
    list-style: none;
    margin-bottom: 1em;    
}

.list-infos li i {
    font-size: 1.5em;
    margin-right: 0.5em;
    color: #2cbdb8;
}

.list-infos li * {
    vertical-align: middle
}

.search-btn {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    font-size: 16px;
    background: #2cbdb8;
    color: #ffffff;
    border: none;
    border: 1px solid #2cbdb8;
    cursor: pointer;
}