<div class="col-lg-12">
    <div class="property-list">
        <div class="single-property-item" *ngFor="let eqt of equipments.records">
            <div class="row">
                <div class="col-md-4">
                    <div class="property-pic">
                        <img src={{eqt.img}}  />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="property-text">
                        <div class="s-text">Équipement</div>
                        <h5 class="r-title">{{eqt.fields.insnom}}</h5>
                        <ul class="list-infos">
                            <li>
                                <i class="icon_pin"></i>
                                {{eqt.fields.comlib}}
                            </li>
                            <li>
                                <i class="fa fa-home"></i>
                                {{eqt.fields.equnom}}
                            </li>
                            <li>
                                <i class="fa fa-futbol-o"></i>
                                {{eqt.fields.equipementtypelib}}
                            </li>
                        </ul>
                        <button class="search-btn" routerLink="complete/{{eqt.fields.equipementid}}">Compléter</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="property-pic">
                        <iframe width="400" height="400" [src]=getMap(eqt.fields.coordonnees[0],eqt.fields.coordonnees[1])></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
