.list-infos li {
    list-style: none;
    margin-bottom: 1em;    
}

.list-infos li i {
    font-size: 1.5em;
    margin-right: 0.5em;
    color: #2cbdb8;
}

.list-infos li * {
    vertical-align: middle
}