<section class="blog-details-hero">
  <div class="property-list">
    <div class="row">
      <div class="single-property-item">
        <div class="row">
          <div class="col-md-4">
            <div class="property-pic">
              <img src="" alt="">
            </div>
          </div>
          <div class="col-md-4">
            <div class="property-text">
              <div class="s-text">Équipement</div>
              <h5 class="r-title">{{eqt.records[0].fields.insnom}}</h5>
              <ul class="list-infos">
                <li>
                  <i class="icon_pin"></i>
                  {{eqt.records[0].fields.comlib}}
                </li>
                <li>
                  <i class="fa fa-home"></i>
                  {{eqt.records[0].fields.equnom}}
                </li>
                <li>
                  <i class="fa fa-futbol-o"></i>
                  {{eqt.records[0].fields.equipementtypelib}}
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="property-pic">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21039.958648589174!2d2.075322999271317!3d48.762895014868235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e680b6d62566c9%3A0x40b82c3688c3ed0!2s78280%20Guyancourt!5e0!3m2!1sfr!2sfr!4v1581599968438!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="leave-comment">
        <h4>Leave A Comment</h4>
        <form action="#">
          <div class="row">
            <div class="col-lg-6">
              <input type="text" placeholder="Name">
            </div>
            <div class="col-lg-6">
              <input type="text" placeholder="Email">
            </div>
          </div>
          <input type="text" placeholder="Website">
          <textarea placeholder="Messages"></textarea>
          <button type="submit" class="site-btn">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</section>