<div class="search-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="search-form-text">
                    <div class="search-text">
                        <i class="fa fa-search"></i>
                        Trouve ton équipement
                    </div>
                </div>
                <form (submit)="onKeyup($event)"class="filter-form">
                    <div class="col-lg-6">
                        <input type="text" placeholder="Ex: Lieu, type d'équipement..." [(ngModel)]="q" name="q">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>